/* <div>
<button>  */
.modal {
    display: flex;
    flex-direction: column;
    background: url(/cassette-case-blank.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    align-items: center;
}

.header {
    margin-top: 15px;
    background-color: #e6e4d8;
    font-size: 20px;
    margin-right: 30px;
}

.content input {
    width: 300px;
    height: 30px;
    margin-top: 25px;
    background-color: rgba(255,255,255,0.5)
}

.modal>.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.save_button {
    background-color: #d5cebc;
    border: none;
    margin-top: 10px;
    font-size: 23px;
}