.comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 20px;
}

.comment_text {
    font-size: 20px;
}

.comment_info {
    /* font-family: "Indie Flower"; */
    font-size: 15px;
}