.edit_playlist_container {
    display: flex;
    width: 60%;
    justify-content: space-around;
    padding: 20px;
    height: 75vh;
}

.playlist_tracks button {
    font-size: 18px;
    border: none;
    background: transparent;
}

.playlist_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #3D3A33;
    width: 45%;
    padding: 20px;
    min-width: 310px;

    /* background: url(/cassette-case-flipped.png);
    background-size: contain;
    background-repeat: no-repeat; */
}

.done_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.done_button button {
    font-size: 23px;
    border: none;
    background-color: transparent;
}

.done_button h2 {
    justify-self: center;
}

.edit_buttons button {
    font-size: 25px;
}

.playlist_details {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    width: 100%;
}

.name_description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 10px;
    height: 120px;
    width: 100%;
}

.name_description ul {
    list-style: none;
}

.playlist_tracks {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
    height: 43vh;
    overflow-y: auto;
}

@media only screen and (max-width: 500px) {
    .edit_playlist_container {
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .playlist_tracks {
        gap: 30px;
    }
}

.access_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.access_user {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 2px;
}

.access_container button {
    font-size: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}