
.playlists_container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 50px;
  }
  
  .playlist {
    border: 1px dashed black;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .playlist img {
    width: 150px;
  }
  
  .playlist_name_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: 10%;
  }

  .buttons {
    display: flex;
    gap: 10px;
    padding: 10px;
  }

  .buttons button {
    font-size: 18px;
    text-align: center;
    background-color:transparent;
    border: none;
    padding: 3px;
    cursor: pointer;
  }