.song_container {
    display: flex;
    align-items: center;
}

.song_info {
    display: flex;
    height: 64px;
    width: 80%;
    flex-direction: column;
    justify-content: center;
  }
  
  .song_info p {
    font-size: 14px;
    text-align: left;
    margin-left: 15px;
    font-family: 'Indie Flower';
  }

  .song_info p i {
    font-size: 12px;
  }